HELP.md
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Other ###
*.class
*.jar
*.war
.env
/src/main/resources/application-test.properties
/k8s/secret.yaml

# Angular specific
node_modules/
dist/
out-tsc/
.tmp/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.node_repl_history
jspm_packages/
.stylelintcache
coverage/
.angular/
/student-manager.tar